<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GameKey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="cdn/vuetify.min.css">
    <link rel="stylesheet" href="cdn/@mdi/font/css/materialdesignicons.css">
    <link rel="stylesheet" href="cdn/material-design/3.0.1/iconfont/material-icons.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="main">
        <div class="loader unselectable">
            <span>G</span>
            <span>A</span>
            <span>M</span>
            <span>E</span>
            <span>K</span>
            <span>E</span>
            <span>Y</span>
            <span>.</span>
            <span>.</span>
            <span>.</span>
        </div>
    </div>
    <v-app v-cloak id="app" :dark="isDark" :class="theme">
        <v-toolbar dense color="blue darken-3" app clipped-left extended height="33px" extension-height="50px"
            @dblclick="Maximize()" class="unselectable">
            <span style="position: absolute; left: 50%; transform: translate(-50%, 0px);">GameKey</span>
            <v-spacer></v-spacer>
            <v-btn color="darken-3" icon round small @click="Minimize()">
                <v-icon>mdi-window-minimize</v-icon>
            </v-btn>
            <v-btn color="darken-3" icon round small @click="Maximize()">
                <v-icon v-if="minimized">mdi-window-maximize</v-icon>
                <v-icon v-else>mdi-window-restore</v-icon>
            </v-btn>
            <v-btn color="darken-3" icon round small @click="Close()">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <template v-slot:extension>
                <v-icon></v-icon>
                <v-toolbar-title class="ml-0 pl-3 unselectable"
                    style="font-weight: bold;animation: animate 5s linear 2;font-family: 'Comic Sans MS', cursive, sans-serif">
                    GameKey
                </v-toolbar-title>
                <v-autocomplete v-if="$route.path=='/'" :loading="loading" :items="games" solo dense label="Search"
                    prominent tabs class="v-text-field--rounded" item-text="name" item-value="appid"
                    :filter="customFilter" light
                    style="position: absolute; left: 50%; transform: translate(-50%, 0px);min-width:100px;width:30vw;max-width:40vw;">
                    <template v-slot:append>
                        <v-btn color="rgb(9, 102, 175)" value="search">
                            Search
                        </v-btn>
                    </template>
                    <template v-slot:item="data">
                        <v-list-tile-avatar @click="$router.push('keys/'+data.item.name)">
                            <img style="height: 90%;width: 90%;background: rgb(0,0,0);
                        background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);"
                                :src="data.item.platform == 'Steam' ? 'https://steamcdn-a.akamaihd.net/steam/apps/' + data.item.appid + '/header.jpg' : data.item.platform == 'Uplay' ? 'https://transform.dis.commercecloud.salesforce.com/transform/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/images/large/'+data.item.appid+'.jpg?sw=500&sh=200&sm=cut' : 'apps/undefined.gif'"
                                onerror="this.src='apps/undefined.gif'">
                        </v-list-tile-avatar>
                        <v-list-tile-content @click="$router.push('keys/'+data.item.name)">
                            <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                            <v-list-tile-sub-title v-html="data.item.platform"></v-list-tile-sub-title>
                        </v-list-tile-content>
                    </template>
                    <template v-slot:selection="data">
                        <v-chip :selected="selected">
                            <v-avatar>
                                <img
                                    :src="data.item.platform == 'Steam' ? 'https://steamcdn-a.akamaihd.net/steam/apps/' + data.item.appid + '/header.jpg' : data.item.platform == 'Uplay' ? 'https://transform.dis.commercecloud.salesforce.com/transform/ABBS_PRD/on/demandware.static/-/Sites-masterCatalog/default/images/large/'+data.item.appid+'.jpg?sw=500&sh=200&sm=cut' : 'apps/undefined.gif'">
                            </v-avatar>
                            {{ data.item.name }}
                        </v-chip>
                    </template>
                </v-autocomplete>
                <v-spacer></v-spacer>
                <v-tooltip bottom v-if='!($route.path == "/")'>
                    <v-btn icon slot="activator" to="/">
                        <v-icon>mdi-home</v-icon>
                    </v-btn>
                    <span class="bottom">Home</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <v-btn icon slot="activator" @click=''>
                        <v-badge color="error" overlap left>
                            <span slot="badge">10</span>
                            <v-icon>notifications</v-icon>
                        </v-badge>
                    </v-btn>
                    <span class="bottom">Notifications</span>
                </v-tooltip>
                <v-menu content-class="dropdown-menu" offset-y origin="top right" transition="scale-transition">
                    <v-tooltip bottom slot="activator" dark>
                        <v-btn icon slot="activator">
                            <v-icon>mdi-account</v-icon>
                        </v-btn>
                        <span class="bottom">profile</span>
                    </v-tooltip>
                    <v-list class="py-0">
                        <v-list-tile ripple to='/settings'>
                            <v-list-tile-action>
                                <v-icon>settings</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>Settings</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-divider></v-divider>
                        <v-list-tile @click="settingstab=!settingstab">
                            <v-list-tile-action>
                                <v-icon>mdi-settings-box</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>Change Theme</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </template>
        </v-toolbar>
        <v-navigation-drawer permanent :mini-variant="mini" floating clipped app>
            <div class="transparent flat">
                <v-list>
                    <v-list-tile avatar>
                        <v-list-tile-avatar @click.stop="mini = !mini">
                            <img :src="userdata.pic" />
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>{{userdata.username}}</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                            <v-btn icon @click.stop="mini = !mini">
                                <v-icon>mdi-menu-left</v-icon>
                            </v-btn>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-divider class="mx-3 mb-3"></v-divider>
                    <v-list-tile :active-class="!mini?'v-list-item-active greencard' : 'v-list-item-mini-active'"
                        v-for="item in items" :key="item.title" :class="!mini?'tile' : ''" :to="{path:item.link}">
                        <v-tooltip v-if="mini" right>
                            <v-list-tile-action slot="activator">
                                <v-icon :color="item.color">{{ item.icon }}</v-icon>
                            </v-list-tile-action>
                            <span class="right">{{ item.title }}</span>
                        </v-tooltip>
                        <v-list-tile-action v-else>
                            <v-icon :color="item.color">{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </div>
        </v-navigation-drawer>
        <v-content :style="isDark ? '' : 'background-color: #eee'">
            <v-container fluid grid-list-lg style="max-height: calc(100vh - 100px);" class="scroll-y">
                <v-menu v-model='settingstab' :close-on-content-click="false" bottom left min-width="300"
                    max-width="300" nudge-left="12" offset-x transition="slide-y-transition">
                    <v-btn slot="activator" class="elevation-0 theme" color="grey" dark fab fixed style="top: 100px;"
                        top>
                        <v-icon>mdi-settings</v-icon>
                    </v-btn>
                    <v-card>
                        <v-container grid-list-xl fluid>
                            <v-layout wrap>
                                <v-flex>
                                    <v-switch color='black' v-model="isDark"
                                        :label="isDark? 'Dark Mode is Switched : On' : 'Dark Mode is Switched : Off'">
                                    </v-switch>
                                </v-flex>
                                <v-flex xs12>
                                    <div class="text-xs-center body-2 text-uppercase sidebar-filter">Others Themes</div>
                                </v-flex>
                                <v-flex xs12>
                                    <v-radio-group class="justify-center pl-4" v-model="theme" row>
                                        <v-tooltip top v-for="theme in themes" :key="theme.name">
                                            <v-radio slot="activator" :value="theme.class.toLowerCase()"
                                                :color="theme.color"></v-radio>
                                            <span>{{theme.name}}</span>
                                        </v-tooltip>
                                    </v-radio-group>
                                </v-flex>
                                <v-flex xs12>
                                    <div class="text-xs-center body-2 text-uppercase">
                                        Connect With Us!
                                        <div>
                                            <v-btn color="indigo" class="white--text" fab icon small round>
                                                <v-icon>mdi-facebook</v-icon>
                                            </v-btn>
                                            <v-btn color="cyan" class="white--text" fab icon small round>
                                                <v-icon>mdi-twitter</v-icon>
                                            </v-btn>
                                        </div>
                                    </div>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                </v-menu>
                <v-fade-transition mode="out-in">
                    <router-view />
                </v-fade-transition>
            </v-container>
        </v-content>
        </v-layout>
        <v-footer color="blue darken-3" app>
            <h3 class="px-3 white--text">&copy; {{App.year}}</h3>
            <v-spacer></v-spacer>
            <h3 class="px-3 white--text">v {{App.version}}</h3>
        </v-footer>
    </v-app>
</body>
<script src="cdn/dexie.js"></script>
<script src="DB.js"></script>
<script src="methods_db.js"></script>
<script src="ajax.js"></script>
<script src="cdn/vue.js"></script>
<script src="cdn/vuetify.js"></script>
<script src="cdn/httpVueLoader.js"></script>
<script src="cdn/vue-router.js"></script>
<script src="cdn/veux.js"></script>
<script src="main.js"></script>
<!-- <script src="./readlines.js"></script> -->
<script src="import.js"></script>

</html>