<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="cdn/vuetify.min.css">
    <link rel="stylesheet" href="cdn/@mdi/font/css/materialdesignicons.css">
    <link rel="stylesheet" href="cdn/material-design/3.0.1/iconfont/material-icons.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="main">
        <div class="loader">
            <span>G</span>
            <span>A</span>
            <span>M</span>
            <span>E</span>
            <span>K</span>
            <span>E</span>
            <span>Y</span>
            <span>.</span>
            <span>.</span>
            <span>.</span>
        </div>
    </div>
    <v-app v-cloak id="app" :dark="isDark">
        <v-layout row wrap>
            <v-toolbar dense :clipped-left="$vuetify.breakpoint.mdAndUp" fixed app>
                <v-toolbar-side-icon @click.stop="show = !show"></v-toolbar-side-icon>
                <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
                    <span class="hidden-sm-and-down">GameKey</span>
                </v-toolbar-title>
                <v-autocomplete v-if="$route.path=='/'" v-model="select" :loading="loading" :items="games"
                    :search-input.sync="search" cache-items flat hide-no-data hide-details label="Search"
                    class="v-text-field--rounded" solo flat>
                    <template v-slot:append>
                        <v-btn type="submit" color="rgb(9, 102, 175)" value="search">
                            Search
                        </v-btn>
                    </template>
                </v-autocomplete>
                <v-spacer></v-spacer>
                <v-tooltip left>
                    <v-btn slot="activator" icon small v-model="isDark" @click='isDark=!isDark'>
                        <v-icon small>mdi-theme-light-dark</v-icon>
                    </v-btn>
                    <span class="left">Switch Theme</span>
                </v-tooltip>
                <v-btn icon small>
                    <v-icon small>mdi-window-maximize</v-icon>
                </v-btn>
                <v-btn icon small>
                    <v-icon small>mdi-window-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-navigation-drawer v-model="show" :clipped="$vuetify.breakpoint.mdAndUp" :mini-variant="mini" absolute
                app>
                <div class="transparent flat">
                    <v-list>
                        <v-list-tile avatar>
                            <v-list-tile-avatar @click.stop="mini = !mini">
                                <img src="">
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title>GameKey</v-list-tile-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                <v-btn icon @click.stop="mini = !mini">
                                    <v-icon>mdi-chevron-left</v-icon>
                                </v-btn>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-divider></v-divider>
                        <!-- :active-class="!mini?'v-list-item-active v-card green' : 'v-list-item-mini-active'" -->
                        <v-list-tile class="mt-1" v-for="item in items" :key="item.title" :to="{path:item.link}">
                            <v-tooltip v-if="mini" right>
                                <v-list-tile-action slot="activator">
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-tile-action>
                                <span class="right">{{ item.title }}</span>
                            </v-tooltip>
                            <v-list-tile-action v-else>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </div>
            </v-navigation-drawer>
            <v-content>
                <v-container fluid grid-list-lg>
                    <router-view></router-view>
                </v-container>
            </v-content>
        </v-layout>
        <v-footer color="rgb(9, 102, 175)" app>
            <span class="px-3 white--text">&copy; 2019</span>
        </v-footer>
    </v-app>
</body>
<script src="cdn/dexie.js"></script>
<script src="BD.js"></script>
<script src="cdn/vue.js"></script>
<script src="cdn/vuetify.js"></script>
<script src="cdn/httpVueLoader.js"></script>
<script src="cdn/vue-router.js"></script>
<script src="cdn/veux.js"></script>
<script src="methods_bd.js"></script>
<script src="main.js"></script>

</html>