html {
    overflow-y: hidden;
}

.v-dialog {
    overflow-x: hidden;
    border-radius: 10px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

div.v-menu__content {
    border-radius: 20px;
    height: 112px;
    width: 200px;
}

.v-list-item:hover {
    border-radius: 12px;
    background: linear-gradient(-45deg, #e73c7e, #23a6d5);
}

.v-list-item:hover .v-list-item__title {
    color: white;
}

.me {
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    -webkit-animation: LoginGradient 10s ease infinite;
    animation: LoginGradient 10s ease infinite;
}

@-webkit-keyframes LoginGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes LoginGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}